<a href="https://colab.research.google.com/github/Edith-panda/Projects/blob/main/Sentiment_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
#importing libraries
import re
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import nltk
import string
import warnings
warnings.filterwarnings("ignore", category = DeprecationWarning)
%matplotlib inline

In [10]:
#training ans testing using twitter sentiment analysis dataset
train = pd.read_csv("https://raw.githubusercontent.com/dD2405/Twitter_Sentiment_Analysis/master/train.csv")
train_original = train.copy()
test = pd.read_csv("https://raw.githubusercontent.com/dD2405/Twitter_Sentiment_Analysis/master/train.csv")
test_original = test.copy()
combine = train.append(test , ignore_index=True, sort =True)
print(combine.head())
print(combine.tail())

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation
          id  label                                              tweet
63919  31958      0  ate @user isz that youuu?ðððððð...
63920  31959      0    to see nina turner on the airwaves trying to...
63921  31960      0  listening to sad songs on a monday morning otw...
63922  31961      1  @user #sikh #temple vandalised in in #calgary,...
63923  31962      0                   thank you @user for you follow

In [11]:
#removing unnecessary stuffs such as user id which does not contribute to output 0s and 1s
def remove_pattern(text, pattern):
  r = re.findall(pattern , text)
  for i in r:
    text = re.sub(i, "",text)
    return text
combine['Tidy_Tweets'] = np.vectorize(remove_pattern)(combine['tweet'], "@[\w]*")
combine.head()

   id  ...                                        Tidy_Tweets
0   1  ...    when a father is dysfunctional and is so sel...
1   2  ...    thanks for #lyft credit i can't use cause th...
2   3  ...                                               None
3   4  ...                                               None
4   5  ...                                               None

[5 rows x 4 columns]

In [12]:
combine['Tidy_Tweets'] = (combine['Tidy_Tweets'].str.replace("[^a-zA-Z#]", " "))
combine.head(10)

   id  ...                                        Tidy_Tweets
0   1  ...    when a father is dysfunctional and is so sel...
1   2  ...    thanks for #lyft credit i can t use cause th...
2   3  ...                                               None
3   4  ...                                               None
4   5  ...                                               None
5   6  ...                                               None
6   7  ...                   camping tomorrow        danny
7   8  ...                                               None
8   9  ...                                               None
9  10  ...              welcome here    i m   it s so #gr

[10 rows x 4 columns]

In [13]:
combine['Tidy_Tweets'] = combine['Tidy_Tweets'].apply(lambda x: ' '.join([w for w in x.split() if len(w)>3]))
combine.head(10)

   id  ...                                        Tidy_Tweets
0   1  ...  when father dysfunctional selfish drags kids i...
1   2  ...  thanks #lyft credit cause they offer wheelchai...
2   3  ...                                               None
3   4  ...                                               None
4   5  ...                                               None
5   6  ...                                               None
6   7  ...                             camping tomorrow danny
7   8  ...                                               None
8   9  ...                                               None
9  10  ...                                       welcome here

[10 rows x 4 columns]

In [15]:
tokenized_tweet = combine['Tidy_Tweets'].apply(lambda x: x.split())
tokenized_tweet.head(10)

0    [when, father, dysfunctional, selfish, drags, ...
1    [thanks, #lyft, credit, cause, they, offer, wh...
2                                               [None]
3                                               [None]
4                                               [None]
5                                               [None]
6                           [camping, tomorrow, danny]
7                                               [None]
8                                               [None]
9                                      [welcome, here]
Name: Tidy_Tweets, dtype: object

In [16]:
#stemming 
from nltk import PorterStemmer
ps = PorterStemmer()
tokenized_tweet = tokenized_tweet.apply(lambda x: [ps.stem(i) for i in x])
tokenized_tweet.head()

0    [when, father, dysfunct, selfish, drag, kid, i...
1    [thank, #lyft, credit, caus, they, offer, whee...
2                                               [none]
3                                               [none]
4                                               [none]
Name: Tidy_Tweets, dtype: object

In [19]:
for i in range(len(tokenized_tweet)):
  tokenized_tweet[i] =  ' '.join(tokenized_tweet[i])
  combine["Tidy_Tweets"] = tokenized_tweet
  combine.head()